@import "./kdfn"

body
html
  height       100%
  width        100%
  font-family  Arial

  // min-width    800px
  // min-height   600px

body.hideControls
  .control
    opacity   0


.control
  opacity     1
  vendor      transition, opacity .3s ease

.split-view

  // singleTransformTransition .3s ease

  &.js-hidden
    .kdsplitview-resizer:last-child
      display   none

.kdview.kdsplitview-resizer:last-child
  width        3px
  background   #333
  &:hover
    background #333

.options-button

  opacity      .9
  position     absolute

  right        32px
  top          10px

  z-index      10000

  singleTransformTransition .3s ease

  &:hover
    opacity    1

.kdlistview.file-list

  width        130px

  top          40px
  right        0

  position     absolute
  z-index      10000

  vendor       transform, translateX(220px)

  singleTransformTransition .3s ease

  .kdlistitemview

    height         10px
    padding        5px
    border-bottom  1px solid #ccc
    background     rgba(255,255,255,.9)
    cursor         pointer
    font-size      14px

    h1
      width         120px
      white-space   nowrap
      text-overflow ellipsis
      font-size     11px

    &:first-of-type
      border-top-left-radius 5px

    &:last-of-type
      border-bottom-left-radius 5px

    &:hover
      background   #ddd
      h1
        width      100px
      button
        display    block

    &.selected
      background   #B12520
      color        white

    button
      display        none
      top            1px
      right          14px
      width          18px
      height         18px
      position       absolute
      text-shadow    none
      padding        0

.cp-header

  vendor             transform, translateY(-100%)

  background         rgba(0,0,0,0.8)
  height             100%
  text-align         center
  position           absolute
  z-index            10011
  color              white

  singleTransformTransition .1s ease-out

  input.kdinput.text
    width            calc(100% \- 40px)
    max-width        580px
    margin           10px 20px 20px 20px

  .header-logo
    height           30px
    background       #b12520
    opacity          .8
    margin-bottom    10px

    img
      height           30px

    background       #B12520

  .readme
    color            #ccc
    height           auto
    width            calc(100% \- 40px)
    max-width        580px
    margin           0 auto
    text-align       left
    font-size        12px
    line-height      15px
    a
      color          #fff
      noTextDeco()
    p
      margin-bottom  5px

  .kdlistview
    width            100%
    max-width        600px
    margin           0 auto
    overflow         scroll
    height           calc(100% \- 50px)

  .kdlistitemview
    height           28px
    border-bottom    1px solid rgba(255,255,255,.2);
    cursor           default

  h2
    float            left
    padding          7px 10px
    font-size        14px
    width            100%
    text-align       left
    text-shadow      0 0 2px #000

  .shortcuts
    position         absolute
    right            0
    padding          10px
    font-size        10px
    font-family      Monaco

    cite
      color          black
      border         1px solid #ccc
      padding        2px
      border-radius  2px
      margin         3px
      background     #eee
      box-shadow     0 0 2px #000


body

  &.helpMode

    // .main-view
    //   vendor       filter, blur(2px)

    .cp-header
      vendor       transform, translateY(0)


.main-view

  &.in

    .file-list
      vendor       transform, translateX(0)


.savefile-modal

  .kdformview .formline .input-wrapper
    margin-bottom  0

  .kdmodal-inner .button-field
    border-radius  5px !important

  input
    border none !important

  button.kdbutton
    right 10px
    top 10px


button.create-new

  position       absolute
  top            10px
  right          6px
  width          21px
  height         21px
  padding        0
  z-index        100


button.help

  position       absolute
  top            10px
  right          200px
  width          21px
  height         21px
  padding        0
  z-index        100
  background     none
  border         none
  text-shadow    none
  color          white
  &:hover
    color        black


button.close-help

  position       absolute
  top            58px

button.run-button

  position       absolute
  bottom         10px
  right          10px
  z-index        100

.on-off.multiple-choice

  a
    border       none
    box-shadow   none

    &.active
      background   #B12520
      border       none
      border-color none

.CodeMirror
  height       100%
  width        100%
  font-size    13px
  font-family  Monaco, monospace
  line-height  18px
